* {
box-sizing: border-box;
}

.row::after {
content: "";
clear: both;
display: table;
}

[class*="col-"] {
float: left;
padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
Boks - groottes: grens-boks;
}

. ry :: na {
Inhoud: "";
Maak skoon: beide;
Vertoon: tabel;
}

[klas * = " col -"] {
Dryf: links;
Tussenlaag: 15 px;
}

. col-1 {wydte: 8.33 %;}
. col-2 {wydte: 16.66 %;}
. col-3 {wydte: 25 %;}
. col-4 {wydte: 33.33 %;}
. col-5 {wydte: 41.66 %;}
. col-6 {wydte: 50 %;}
. col-7 {wydte: 58.33 %;}
. col-8 {wydte: 66.66 %;}
. col-9 {wydte: 75 %;}
. col-10 {wydte: 83.33 %;}
. col-11 {wydte: 91.66 %;}
. col-12 {wydte: 100 %;}